#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.mainContainer{

    border: red 2px dashed;
    width: 65vw;
    height: 80vw;
    display: grid;
    grid-auto-rows: 1fr 1.5fr 2fr;   

    .heroContainer{
        border: red 2px dashed;
        width: 100%;
        height: 100%;

    }

    .blogContainer{
        border: red 2px dashed;
        width: 100%;
        height: 100%;
    }

    .projectsContainer{
        border: red 2px dashed;
        width: 100%;
        height: 100%;
    }
}